# Code introduce myself to Data Analysis with python

Starting every code with a comment

In [3]:
import pandas as pd

Creating a dataset

In [4]:
data={ 'a': [1,2,3,4,5,6,7],
    'b': ['A','B','C','A','B','C','A']
       }
data

{'a': [1, 2, 3, 4, 5, 6, 7], 'b': ['A', 'B', 'C', 'A', 'B', 'C', 'A']}

(1) Using a dictionary

In [5]:
df=pd.DataFrame(data,index=range(1,8))
display(df)

   a  b
1  1  A
2  2  B
3  3  C
4  4  A
5  5  B
6  6  C
7  7  A

(2) Using a list of lists

In [8]:
df2=pd.DataFrame([[1,2,3,4,5,6,7],['A','B','C','A','B','C','A']],index=range(1,3),columns=['A','B','C','D','E','F','G'])
display(df2)

   A  B  C  D  E  F  G
1  1  2  3  4  5  6  7
2  A  B  C  A  B  C  A

(3) Using a dictionary - but naming indexes using MultiIndex.from_tuples

In [9]:
pd.DataFrame(data,pd.MultiIndex.from_tuples([('A',1),('A',2),('A',3),('B',4),('B',5),('B',6),('C',7)],names=['Dim1','Dim2']))

           a  b
Dim1 Dim2
A    1     1  A
     2     2  B
     3     3  C
B    4     4  A
     5     5  B
     6     6  C
C    7     7  A

In [10]:
df3=df2.rename(columns={'A': 'A_new2','D':'New_D'}) ## method 1 - using dictionary
df3.columns.values[4]="E_New"                       ## method 2 - using .columns.values
df3

  A_new2  B  C New_D E_New  F  G
1      1  2  3     4     5  6  7
2      A  B  C     A     B  C  A

In [13]:
import datasets as ds