# My attempt at grouping using python

In [ ]:
import pandas as pd

In [2]:
data = {'date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
        'product': ['A', 'B', 'A', 'B'],
        'sales': [100, 200, 150, 250]}

In [4]:
df=pd.DataFrame(data)
display(df)

         date product  sales
0  2022-01-01       A    100
1  2022-01-01       B    200
2  2022-01-02       A    150
3  2022-01-02       B    250

In [6]:
samp_ds=df.copy()
samp_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     4 non-null      object
 1   product  4 non-null      object
 2   sales    4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [9]:
gb=samp_ds.groupby('product')
display(gb)

In [12]:
samp_ds.groupby(['product','date'])['sales'].sum()

product  date
A        2022-01-01    100
         2022-01-02    150
B        2022-01-01    200
         2022-01-02    250
Name: sales, dtype: int64

In [13]:
gb['sales'].sum()

product
A    250
B    450
Name: sales, dtype: int64

In [15]:
display(gb['sales'].count())

product
A    2
B    2
Name: sales, dtype: int64